.back-to-main{
    margin-right: 1rem;
}
#citeria-score{
    border: 3px solid green;
    width: 75%;
}
#eng{
    font-size: 0.8rem;
}
.highlight{
    font-weight: bold;
    color: red;
}
h3{
    font-family: 'Kanit', sans-serif;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}
h1{
    text-align: center;
    font-family: 'Kanit',sans-serif;
    margin-top: 2rem;
}
p{
    font-size: 1.2rem;
}
.qualification{
    font-size: 1.2rem;
}
@media (max-width:1070px){
    h1{
        font-size: 1.5rem;
    }
    .name{
        width: 150px; 
        display: inline-block;      
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    #citeria-score{
        font-size: 0.65rem;
        width:100%;
    }
    #eng{
        font-size: 0.55rem;
    }
}