.back-to-main{
    margin-right: 1rem;
}
#citeria-score{
    border: 3px solid green;
    width: 75%;
}
h3{
    font-family: 'Kanit', sans-serif;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}
h1{
    text-align: center;
    font-family: 'Kanit',sans-serif;
    margin-top: 2rem;
}
p{
    font-size: 1.2rem;
}