@font-face{
    font-family: 'Sarabun', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Sarabun")
}
.info{
    font-size: 15px;
}
.logo-img{
    width: ค140px;
    height: 140px;
}
.body-content{
    margin-top: 5rem;
}
.right-most{
    text-align: right;
}
.tcas-info{
    margin-top: 5rem;
}
.dot{
	width:48px;
	height:48px;
	background-color:#ff9900;
	border-radius:50%;
	display:inline-block;
}