@font-face {
  font-family: 'Sarabun', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Sarabun');
}

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  position: relative;
  background-color: rgba(39, 174, 96, 0.92);
}

.header-container {
  margin: 0rem 2rem;
}

.header-container > h1 {
  font-size: 2rem;
  color: aliceblue;
  font-family: 'Kanit';
}

.header-container > h2 {
  font-size: 1.2rem;
  color: aliceblue;
  font-family: 'Kanit';
}

.top-container > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-background {
  position: absolute;
  z-index: -1;
  background: url(./top_backgound.jpg);
  background-position: center;
  background-size: cover;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.info {
  font-size: 1.2rem;
  word-wrap: break-word;
  text-align: center;
  margin: 0px !important;
}

.image {
  width: 250px;
  height: 250px;
  margin-bottom: 2rem;
  overflow: hidden;
  position: relative;
  border-radius: 2rem;
}

.logo-img {
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dot {
  width: 148px;
  height: 148px;
  background-color: rgba(46, 204, 113, 0.7);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.background {
  min-height: 100vh;

  padding-top: 6rem;
  box-sizing: border-box;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#f6f6f6 0, #fff 325px);
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content min-content;
  grid-column-gap: 1rem;
  margin-bottom: 5rem;
  margin-top: 3rem;
}

.background > h1:first-child {
  font-family: 'Kanit';
}
.tcas-word > h1 {
  font-size: 2rem;
}

.tcas-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: max-content auto;
  grid-row-gap: 2rem;
  justify-items: center;
}
.tcas-container > div:last-child {
  display: grid;
  grid-template-rows: 6rem auto;
  grid-row-gap: 1rem;
}

hr {
  margin: 0px;
}

@media (max-width: 1000px) {
  .tcas-container > div:last-child {
    grid-template-rows: 9rem auto;
  }
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }
  .tcas-container > div:last-child {
    grid-template-rows: auto auto;
  }
}

.back-to-main{
  margin-right: 1rem;
}
#citeria-score{
  border: 3px solid green;
  width: 75%;
}
#eng{
  font-size: 0.8rem;
}
.highlight{
  font-weight: bold;
  color: red;
}
.content{
  margin-top:0.5rem;
}
h3{
  font-family: 'Kanit', sans-serif;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
h1{
  text-align: center;
  font-family: 'Kanit',sans-serif;
  margin-top: 2rem;
}
p{
  font-size: 1.2rem;
}
.qualification{
  font-size: 1.2rem;
}
.warning{
  color: red;
  border:3px solid black;
  width:65%;
  text-align: center;
}
@media (max-width:1070px){
  h1{
      font-size: 1.5rem;
  }
  .name{
      width: 150px; 
      display: inline-block;      
      overflow: hidden;
      text-overflow: ellipsis; 
  }
  #citeria-score{
      font-size: 0.65rem;
      width:100%;
  }
  #eng{
      font-size: 0.55rem;
  }
}